{% extends 'generic/object.html' %}
{% load helpers %}

{% block content %}
<div class="row mb-3">
    <div class="col col-md-6">
        <div class="card">
            <h5 class="card-header">Proxy Configuration</h5>
            <table class="table table-hover attr-table">
                <tr>
                    <th scope="row">Name</th>
                    <td>{{ object.name }}</td>
                </tr>
                <tr>
                    <th scope="row">Protocol</th>
                    <td>{% badge object.get_protocol_display bg_color=object.get_protocol_color %}</td>
                </tr>
                <tr>
                    <th scope="row">Server</th>
                    <td>{{ object.server }}</td>
                </tr>
                <tr>
                    <th scope="row">Port</th>
                    <td>{{ object.port }}</td>
                </tr>
                <tr>
                    <th scope="row">Username</th>
                    <td>{{ object.username|placeholder }}</td>
                </tr>
                <tr>
                    <th scope="row">Proxy URL</th>
                    <td><code>{{ object.url }}</code></td>
                </tr>
                <tr>
                    <th scope="row">Routing</th>
                    <td>
                        {% if object.routing %}
                            {% for label, color in object.get_routing_badges %}
                                {% badge label bg_color=color %}
                            {% endfor %}
                        {% else %}
                            {% badge "All" bg_color="gray" %}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row">Description</th>
                    <td>{{ object.description|placeholder }}</td>
                </tr>
            </table>
        </div>
    </div>
    {% include 'inc/panels/tags.html' %}
    {% include 'inc/panels/comments.html' %}
</div>
{% endblock %}
